<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  data-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <th:block layout:fragment="head">
    </th:block>
    <link rel="stylesheet" th:href="@{/css/spiner.css}">
    <title>PNU LOAD MAP</title>
    <link rel="icon"th:href="@{/src/logo.png}"/>

</head>

<body class="pt-24">

<div th:replace="~{fragments/navbar}"></div>
<div th:replace="~{fragments/header}"></div>

<div class="flex-1">
    <th:block layout:fragment="content"></th:block>
</div>
</body>

</html>