<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="basicList">
    <ul id="taskList" class="list-none p-0">
        <li th:if="${#lists.isEmpty(subjects)}" class="text-center text-base-content">
            😄 모든 할 일을 완료했어요!
        </li>

        <li th:each="list : ${subjects}" th:data-id="${list.id}"
            class="flex flex-col justify-between items-start p-2 bg-gray-100 rounded mb-2 transition duration-1000">
            <div class="taskItem flex justify-between items-center w-full">
                <div>
                    <input class="mr-2" type="checkbox" onchange="toggleTask(this)">
                    <span class="font-bold" th:text="${list.subject}">Example Task</span>
                </div>
                <div>
                    <button type="button"
                            th:unless="${list.isFavorite}"
                            class="text-yellow-400 border border-yellow-400 hover:bg-yellow-400 hover:text-white focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center"
                            th:onclick="|requestQueryFavorite(this,${list.id})|"
                            value="false">
                        <i class="fas fa-star"></i>
                        <span class="sr-only">즐겨찾기</span>
                    </button>

                    <button type="button"
                            th:if="${list.isFavorite}"
                            class="bg-yellow-400 text-white border border-yellow-400 hover:bg-transparent hover:text-yellow-400 focus:ring-4 focus:outline-none focus:ring-yellow-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center"
                            th:onclick="|requestQueryFavorite(this,${list.id})|"
                            value="true">
                        <i class="fas fa-star"></i>
                        <span class="sr-only">즐겨찾기 완료</span>
                    </button>


                    <button th:if="${#lists.isEmpty(list.children)}"
                            th:data-has-child="${!#lists.isEmpty(list.children)}"
                            th:onclick="|requestQuery(${list.id})|"
                            class="hasChild ml-auto bg-primary px-2 py-1 rounded text-white transition duration-300 ease-in-out transform hover:scale-105 hover:bg-primary">
                        세부과제 생성
                    </button>
                    <a th:unless="${#lists.isEmpty(list.children)}" th:href="@{|/subject/${list.id}|}"
                       th:data-has-child="${!#lists.isEmpty(list.children)}"
                       class="hasChild ml-auto bg-primary-content px-2 py-1 rounded transition duration-300 ease-in-out transform hover:scale-105 hover:bg-primary">
                        세부과제 보기
                    </a>
                </div>
            </div>

            <div class="flex justify-between items-center w-full">
                <div class="description mt-2 text-base-content ml-4" th:text="${list.description}">This is the
                    description for Example Task.
                </div>
                <div class="flex items-center bg-base-300 rounded-full my-1 px-1 py-1 w-1/5">
                    <label class="text-sm text-base-content px-1 mr-2 w-[50%]">예상일</label>
                    <input th:if="${list.expiredDate>0}" type="text"
                           class="listExpired text-sm text-base-content bg-base-300 w-[50%] rounded-full px-2 py-1 text-right"
                           th:placeholder="${list.expiredDate}" th:value="${list.expiredDate}">
                    <input th:unless="${list.expiredDate>0}" type="text"
                           class="listExpired text-sm text-base-content bg-base-300 w-[50%] rounded-full px-2 py-1 text-right"
                           placeholder="미정" th:value="${list.expiredDate}">
                </div>
            </div>
            <input type="hidden" class="listId" th:value="${list.id}">
        </li>
    </ul>
</th:block>
</html>