<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="header">
    <header class="p-3 mb-4 shadow-lg fixed top-0 left-0 w-full bg-white z-50">
        <div class="container mx-auto flex justify-between items-center">
            <div class="flex items-center">
                <a href="/" class="hover:text-gray-200 text-xl font-extrabold">🚩 PNU LOAD MAP</a>
            </div>
            <nav class="space-x-4 relative flex items-center">
                <a href="/home" class="hover:text-gray-200 flex items-center p-1 transition duration-300 ease-in-out transform hover:scale-105 font-bold">
                    🏠️ 홈
                </a>
                <a th:if="${@rq.logout}" href="/member/login" class="hover:text-gray-200 flex items-center p-1 transition duration-300 ease-in-out transform hover:scale-105         font-bold">
                    👨‍🦱 로그인
                </a>

                <a th:if="${@rq.logout}"  href="/member/join" class="hover:text-gray-200 flex items-center p-1 transition duration-300 ease-in-out transform hover:scale-105 font-bold">
                    ➕ 회원가입
                </a>

                <a th:if="${@rq.login}"  href="/member/logout" class="hover:text-gray-200 flex items-center p-1 transition duration-300 ease-in-out transform hover:scale-105 font-bold">
                    ➕ 로그아웃
                </a>
            </nav>
        </div>
    </header>
</div>
</html>