    .dark .favorite {
        border-color: #d69e2e; /* dark:border-yellow-500 */
        color: #d69e2e; /* dark:text-yellow-500 */
    }

    .dark .favorite_on {
        color: #ffffff; /* dark:hover:text-white */
        background-color: #d69e2e; /* dark:hover:bg-yellow-500 */
    }

    .dark .favorite:hover {
        box-shadow: 0 0 0 4px #7b341e; /* dark:focus:ring-yellow-800 */
    }