<!-- src/main/resources/templates/home_test.html -->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<th:block layout:fragment="head">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script th:src="@{/js/popup.js}"></script>
    <script th:src="@{/js/todo.js}"></script>
    <script th:if="${param.taskSort == null or param.taskSort[0] != 'favorite'}" th:src="@{/js/favorite.js}"></script>
    <script th:if="${param.taskSort != null and param.taskSort[0] == 'favorite'}" th:src="@{/js/favorite-list.js}"></script>
</th:block>


<div layout:fragment="content">

    <div class="w-9/10 mx-auto bg-base-100 p-6 rounded shadow mb-20">

        <div class="flex justify-between items-center mb-4">

            <h1 th:if="${param.taskSort == null}" class="text-xl font-bold">🚩 Todo List</h1>
            <h1 th:if="${param.taskSort != null and param.taskSort[0] == 'recent'}" class="text-xl font-bold">🚩 Todo
                List</h1>
            <h1 th:if="${param.taskSort != null and param.taskSort[0] == 'favorite'}" class="text-xl font-bold">⭐️
                Favorite</h1>
            <h1 th:if="${param.taskSort != null and param.taskSort[0] == 'tree'}" class="text-xl font-bold">🌳 Tree
                view</h1>
            <h1 th:if="${param.taskSort != null and param.taskSort[0] == 'done'}" class="text-xl font-bold">✅ Done</h1>

            <div class="flex items-center">


                <form th:action="@{/subject/main}" id="sortForm" method="get">
                    <select class="bg-gray-300 px-1 py-1 rounded" name="taskSort" onchange="onChangeSort()">
                        <option value="recent"
                                th:selected="${param.taskSort != null and param.taskSort[0] == 'recent'}">최신순
                        </option>
                        <option value="favorite"
                                th:selected="${param.taskSort != null and param.taskSort[0] == 'favorite'}">즐겨찾기
                        </option>
                        <option value="tree"
                                th:selected="${param.taskSort != null and param.taskSort[0] == 'tree'}">트리 뷰
                        </option>
                        <option value="done"
                                th:selected="${param.taskSort != null and param.taskSort[0] == 'done'}">완료된 할 일
                        </option>
                    </select>
                </form>

                <th:block th:if="${param.taskSort == null or param.taskSort[0] != 'done'}">
                    <button class="bg-success text-white ml-4 px-2 py-1 rounded mr-2 text-l flex items-center"
                            onclick="onDone()">
                        체크 완료
                    </button>
                </th:block>

                <th:block th:if="${param.taskSort != null and param.taskSort[0] == 'done'}">
                    <button class="bg-error text-white ml-4 px-2 py-1 rounded mr-2 text-l flex items-center"
                            onclick="onDelete()">
                        삭제하기
                    </button>
                </th:block>
            </div>
        </div>


        <th:block th:if="${param.taskSort == null}">
            <th:block th:replace="~{fragments/basicList}"></th:block>
        </th:block>
        <th:block th:if="${param.taskSort != null and param.taskSort[0] == 'recent'}">
            <th:block th:replace="~{fragments/basicList}"></th:block>
        </th:block>

        <th:block th:if="${param.taskSort != null and param.taskSort[0] == 'favorite'}">
            <th:block th:replace="~{fragments/basicList}"></th:block>
        </th:block>

        <th:block th:if="${param.taskSort != null and param.taskSort[0] == 'tree'}">
            <ul id="taskList" class="list-none p-0">
                <li th:if="${#lists.isEmpty(subjects)}" class="text-center text-gray-500">
                    😄 모든 할 일을 완료했어요!
                </li>
                <th:block th:include="~{fragments/subjectTree :: subjectTree(${subjects}, ${0})}"></th:block>
            </ul>
        </th:block>

        <th:block th:if="${param.taskSort != null and param.taskSort[0] == 'done'}">
            <th:block th:replace="~{fragments/doneList}"></th:block>
        </th:block>

        <div class="fixed bottom-10 left-0 right-0 w-4/5 mx-auto bg-gray-300 p-[1px] rounded-full">
            <form id="inputForm" th:action="@{/subject/main/add}" method="post"
                  class="flex justify-between items-center">
                <input id="taskInput" type="text" class="flex-1 p-4 border rounded-l-full" placeholder="할 일 추가하기"
                       name="taskInput">
                <a href="javascript:void(0);" onclick="addTask()"
                   class="bg-primary text-white px-4 py-4 rounded-r-full transition duration-1000 ease-in-out hover:bg-primary-content text-lg">
                    추가
                </a>
            </form>
        </div>
    </div>


    <th:block th:replace="~{fragments/popup}"></th:block>

    <form id="requestForm" th:action="@{/subject/main/divide}" method="post" class="hidden">
        <input type="hidden" name="id">
    </form>
    <form id="saveForm" th:action="@{/subject/main/save}" method="post" class="hidden">
        <input type="hidden" name="body">
    </form>

    <form id="delForm" th:action="@{/subject/main/delete}" method="post" class="hidden">
        <input type="hidden" name="body">
    </form>
    <form id="doneForm" th:action="@{/subject/main/done}" method="post" class="hidden">
        <input type="hidden" name="body">
    </form>

</div>

</html>